body {
  font-family: 'Arial', sans-serif;
  background-color: #77effd;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: #82f449;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.smoothie-form {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select, input[type="checkbox"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox-group {
  display: block;
  margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #00c853;
}